@model TrashCollector.Models.Employee
@{
    ViewBag.Title = "Index";
}

<h2>Employee Home Page</h2>

<h6>Actions </h6>
<ul>
    <li>@Html.ActionLink("View Customers", "CustomersIndex", "Employees")</li>
</ul>