@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">This student application was completed in December 2019 at devCodeCamp and is constantly being improved. Stay tuned!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Log in as either a customer or a trash collection professional.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Choose which day you'd like your pickups and whether or not you need to stop/start service.</p>

    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>See which employees are within your zip code, confirm pickups, and charge customers.</p>
    </div>
</div>